.shopitem__grid {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgb(196, 196, 196);
}

.shopitem__info {
  max-width: 150px;
  max-height: 70px;
  text-overflow: ellipsis;
  text-align: start;
  margin: 0;
  margin-top: 5px;
  font-weight: 800;
  font-size: 14px;
  overflow: hidden;
}

.shopitem__info-grid {
  margin-left: 5px;
}

.shopitem__list {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  box-shadow: 0px 0px 10px 2px #c4c4c4;
  width: 100%;
}

.shopitem__list-info {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
}

.shopitem__list-desc {
  text-align: start;
  word-wrap: break-word;
  font-size: 16px;
  color: #666E77;
}

.shopitem__list-pic {
  width: 216px;
  height: 216px;
  object-fit: cover;
}

.shopitem__grid-pic {
  width: 270px;
  height: 270px;
  object-fit: cover;
}

.shopitem__list-pic {
  width: 215px;
  height: 215px;
}

.shopitem__list-button {
  padding: 0;
  width: 30px;
  height: 30px;
  background: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
}

.shopitem__grid-button {
  padding: 0;
  width: 30px;
  height: 30px;
  background: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
}

.shopitem__list-button:hover {
  border-color: #76A713;
}

.shopitem__grid-button:hover {
  border-color: #76A713;
}

.shopitem__list-button:not(:last-of-type) {
  margin-right: 10px;
}

.shopitem__grid-button:not(:last-of-type) {
  margin-right: 10px;
}

.shopitem__add {  
  background-image: url(/addcartwhite.svg);  
}

.shopitem__add_active {
  background-image: url(/addcartactive.svg); 
  border-color: #76A713; 
}

.shopitem__like {  
  background-image: url(/addlikewhite.svg);
}

.shopitem__like_active {
  background-image: url(/addlikeactive.svg);
  border-color: #76A713; 
}

.shopitem__grid-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.shopitem__list-buttons {
  margin-top: 10px;
}

