.cartitem {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 720px; */
  display: grid;
  grid-template-columns: 100px 120px 170px 170px 160px;
  border-bottom: 1px solid #cacaca;
  padding: 15px 0;
}

.cartitem__img {
  width: 85px;
  height: 85px;
}

.cartitem__name {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 15px;
}

.cartitem__header {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.cartitem__info {
  font-size: 12px;
  color: #666E77;
  font-weight: normal;
}

.cartitem__price {
  font-size: 15px;
  font-weight: 700;
  margin: 0 15px;
}

.cartitem__quantity {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 25px;
  background-color: #F0EFF2;
}

.cartitem__button {
  width: 25px;
  height: 25px;
}

.cartitem__quantity-amount {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  align-self: center;
}

.cartitem__total {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-left: 15px;
}