.about {
  margin-bottom: 150px;
}

.about__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px auto;
}

.about__title {
  font-size: 42px;
}

.about__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.about__cards {
  margin: 0 auto;
}

.about__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgb(165, 165, 165);
  border-radius: 5px;
  height: 300px;
}

.about__card-icon {
  margin-bottom: 15px;
}

.about__card-title {
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
}

.about__card-text {
  width: 220px;
  font-size: 15px;
  margin: 0;
}