@font-face {
  font-family: 'Josefin';
  font-style: 'normal';
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/JosefinSans-Regular.ttf') format("ttf");
}

@font-face {
  font-family: 'Josefin';
  font-style: 'light';
  font-weight: 200;
  font-display: swap;
  src: url('./fonts/JosefinSans-Light.ttf') format("ttf");
}

@font-face {
  font-family: 'Josefin';
  font-style: 'bold';
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/JosefinSans-Bold.ttf') format("ttf");
}

/* *{
  border: 1px solid red;
} */

#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Josefin', Arial, sans-serif;
}
